<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="Help" (click)="onClick('home/ajuda')"><ion-icon name="help" id="help_icon" slot="end"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pag_ini</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
