<ion-header>
  <ion-toolbar color="primary">
    <ion-row style="display: flex;  justify-content: space-between;">
      <div>
        <ion-button id="Help" (click)="onClick('home/ajuda')">
          <ion-icon slot="icon-only" name="help" id="help_icon"></ion-icon>
        </ion-button>
      </div>

      <ion-title color="secondary">
        <h2 class="centered-p">Planeamento</h2>
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
  
<ion-content color="primary">
  
  <ion-card id="barranvl">
    <div class="custom-rectangle" ></div>
  </ion-card>
  <ion-card id="nomenvl">
    <ion-card-content>
      Super-Ambrósio
    </ion-card-content>
  </ion-card>

  <ion-card id="barranvl1">
    <ion-card-title id="produto">
      Arroz
    </ion-card-title>
    <ion-card id="quantidade">
      <ion-card-content>
        3 Kg
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card id="barranvl1">
    <ion-card-title id="produto">
      Leite
    </ion-card-title>
    <ion-card id="quantidade">
      <ion-card-content>
        4 L
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
