<ion-header>
  <ion-toolbar color="primary">
    <ion-row style="display: flex;  justify-content: space-between;">
      <div>
        <ion-button id="Help" (click)="onClick('home/ajuda')">
          <ion-icon slot="icon-only" name="help" id="help_icon"></ion-icon>
        </ion-button>
      </div>

      <ion-title color="secondary">
        <h2 class="centered-p">Planeamento</h2>
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
  
<ion-content color="primary">
  
  <ion-card id="barranvl">
    <div class="custom-rectangle" ></div>
  </ion-card>
  <ion-card id="nomenvl">
    <ion-card-content>
      Super-Ambrósio
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let prod of dataPlan">
        <ion-card id="barranvl1">
          <ion-card-title id="produto">
            {{ prod.produto }}
          </ion-card-title>
          <ion-card id="quantidade">
            <ion-card-content>
              {{ prod.qtdPlaneada }} L
            </ion-card-content>
          </ion-card>
          <ion-card id="putquantidade">
            <div class="counter-container">
              <button ion-button icon-only (click)="decrement(prod.produto,prod.qtdConsumida,prod.qtdInput)" id="botao">
                <ion-icon name="add"></ion-icon>
                <ion-icon name="restaurant-sharp"></ion-icon>
              </button>
  
              <input type="number" [(ngModel)]="prod.qtdInput" class="counter-input" id="input" />
  
              <button ion-button icon-only (click)="increment(prod.produto,prod.qtdComprada,prod.qtdInput)" id="botao2">
                <ion-icon name="add" id="iconCor"></ion-icon>
                <ion-icon name="cart-sharp"></ion-icon>
              </button>
            </div>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <div class="counter-container">
    <div class="counter-values">
      <div>{{ variable1 }}</div>
      <div>{{ variable2 }}</div>
      <div></div>
      <div>{{ nivelAmbrosio}}</div>
    </div>
  </div>
</ion-content>
