#Ambrósio {
    transform: scale(0.35);
    position: absolute;
    top: 115px;
    left: -10px;
  }

  #Ferrero {
    transform: scale(0.5);
    position: absolute;
    top: 20px;
    left: 15px;
  }

  