<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <form>
    <ion-item lines="full" color="primary">
      <ion-label position="floating">Nome Próprio</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full" color="primary">
      <ion-label position="floating">Apelido</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full" color="primary">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full" color="primary">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full" color="primary">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['../']" type="submit" color="danger" expand="block" color="secondary">Submeter</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
