<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="Help" (click)="onClick('home/ajuda')"><ion-icon name="help" id="help_icon" slot="end"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">

  <img src="assets/Ferrero Logo.png" alt="Ferrero" id="Ferrero">
  <img src="assets/Ambrósio (Re)Aproveita.png" alt="Ambrósio" id="Ambrósio">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Criar Conta</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="center-form">
    <form [formGroup]="CriarForm" (ngSubmit)="submitForm()" novalidate>

      <ion-item lines="full" color="primary">
        <ion-label position="floating">Nome Próprio</ion-label>
        <ion-input type="text" formControlName="nome_p" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['nome_p'].errors?.['required']">
        Nome Próprio é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['nome_p'].errors?.['minlength']">
        Nome Próprio deverá ter pelo menos 2 caracteres
      </ion-text>

      <ion-item lines="full" color="primary">
        <ion-label position="floating">Apelido</ion-label>
        <ion-input type="text" formControlName="apelido" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['apelido'].errors?.['required']">
        Apelido é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['apelido'].errors?.['minlength']">
        Apelido deverá ter pelo menos 2 caracteres
      </ion-text>

      <ion-item lines="full" color="primary">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['email'].errors?.['required']">
        Email é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['email'].errors?.['pattern']">
        Email inválido
      </ion-text> 

      <ion-item lines="full" color="primary">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" formControlName="username" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['username'].errors?.['required']">
        Username é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['username'].errors?.['pattern']">
        Username inválido
      </ion-text> 
      
      <ion-item lines="full" color="primary">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['password'].errors?.['required']">
        Password é de preenchimento obrigatório
      </ion-text>
      <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && CriarForm.controls['password'].errors?.['pattern']">
        Password inválida
      </ion-text> 
      
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" color="secondary">Submeter</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
