<ion-header>
  <ion-toolbar color="primary">
    <ion-row style="display: flex;  justify-content: space-between;">
      <div>
        <ion-button id="Help" (click)="onClick('home/ajuda')">
          <ion-icon slot="icon-only" name="help" id="help_icon"></ion-icon>
        </ion-button>
      </div>

      <ion-title color="secondary">
        <h2 class="centered-p">Produtos</h2>
      </ion-title>
    </ion-row>
    
    <div>
      <ion-button id="Filter">
        <ion-icon slot="icon-only" id="filter_icon" name="filter-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-searchbar placeholder="Introduza o produto ou categoria" 
    [(ngModel)]="searchTerm" show-cancel-button="focus" animated="true" color="secondary">
  </ion-searchbar>

  <ion-grid>
    <ion-row *ngFor="let prods of dataProds | filter:searchTerm" class="ion-margin">
      <ion-col size="14">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ prods.nome }}</span>
            <p class="card-text">Quantidade: <span class="secondary-text">{{ prods.quantidade }}</span></p>
            <p class="card-text">Data de Validade: <span class="secondary-text">{{ prods.data }}</span></p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


