<ion-header>
  <ion-toolbar color="primary">
    <ion-row style="display: flex;  justify-content: space-between;">
      <div>
        <ion-button id="Help" (click)="onClick('home/ajuda')">
          <ion-icon slot="icon-only" name="help" id="help_icon"></ion-icon>
        </ion-button>
      </div>

      <ion-title color="secondary">
        <h2 class="centered-p">Lista de Compras</h2>
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-accordion-group expand="inset" multiple="true" >
    <ion-accordion value="first">
      <ion-item slot="header" color="light" color="secondary">
        <ion-label> </ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>Cona</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-content>