<ion-header>
  <ion-toolbar color="primary">
    <ion-row style="display: flex;  justify-content: space-between;">
      <div>
        <ion-button id="Help" (click)="onClick('home/ajuda')">
          <ion-icon slot="icon-only" name="help" id="help_icon"></ion-icon>
        </ion-button>
      </div>

      <ion-title color="secondary">
        <h2 class="centered-p">Lista de Compras</h2>
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-accordion-group expand="inset" multiple="true" >

    <ion-accordion value="first">
      <ion-item slot="header" color="light" color="secondary">
        <ion-label>Legumes e Verduras</ion-label>
      </ion-item>
      <div class="ion-padding custom-color" slot="content">
        <ion-list>
          <ion-item color="tertiary">
            <ion-checkbox>Cenoura</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary"> 
            <ion-checkbox>Alface</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Cebola</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Brócolos</ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header" color="secondary">
        <ion-label>Frutas</ion-label>
      </ion-item>
      <div slot="content" class="ion-padding custom-color">
        <ion-list>
          <ion-item color="tertiary">
            <ion-checkbox>Maçã</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Banana</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Laranja</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Manga</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Morango</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Pêra</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Melancia</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Uvas</ion-checkbox>
          </ion-item>
        </ion-list> 
      </div>

    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="secondary">
        <ion-label>Laticínios</ion-label>
      </ion-item>
      <div class="ion-padding" class="ion-padding custom-color" slot="content">
        <ion-list>
          <ion-item color="tertiary">  
            <ion-checkbox>Leite</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Queijo</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Iogurte</ion-checkbox>
          </ion-item>
          <ion-item color="tertiary">
            <ion-checkbox>Iogurte Líquido</ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button [routerLink]="('../lista2')" id="VerLista" size="large" strong="true">Ver Lista</ion-button>
  
</ion-content>