<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClick('home/ajuda')">
        <ion-icon name="help" id="help_icon" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" (ionViewWillLeave)="restaurarEstadoOriginal()">
  <ion-card id="card" *ngFor="let produto of produtosSelecionados">
    <ion-item-sliding  color="primary">
      <ion-item color="tertiary">
        <ion-label>{{ produto }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removerProduto(produto)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>

  <ion-card id="card" *ngFor="let produto of produtosListaCompras">
    <ion-item-sliding  color="primary">
      <ion-item color="tertiary">
        <ion-label>{{ produto.nome }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removerProduto(produto)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
  
  
  <ion-footer>
    <ion-toolbar id="card">
      <ion-item  color="secondary">
        <ion-input placeholder="Novo produto" [(ngModel)]="novoProduto"></ion-input>
        <ion-button color="primary" slot="end" (click)="adicionarProduto()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>