<ion-header>
  <ion-row style="display: flex;  justify-content: space-between;">
    <div>
        <!-- <ion-button id="Help" (click)="onClick('home/ajuda')">
          <ion-icon slot="icon-only" name="help" id="help_icon"></ion-icon>
        </ion-button> -->
    </div>

    <ion-title color="secondary" class="ion-text-center">
      <h2>PQP</h2>
    </ion-title>

    <div>
      <!-- <ion-button (click)="onClick('home')" id="Logout">
        <ion-icon slot="icon-only" name="log-out-outline" id="logout"></ion-icon>
      </ion-button> -->
    </div>
  </ion-row>
</ion-header>
