<ion-tabs>
  <ion-tab-bar id="tabbar" slot="bottom">
    <ion-tab-button tab="planeamento">
      <ion-icon name="calendar-outline"></ion-icon>
      Planeamento
    </ion-tab-button>
    <ion-tab-button tab="lista">
      <ion-icon name="receipt-outline"></ion-icon>
      Lista de compras
    </ion-tab-button>
    <ion-tab-button tab="produtos">
      <ion-icon name="restaurant-outline"></ion-icon>
      Produtos
    </ion-tab-button>
    <ion-tab-button tab="outros">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      Outros
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
