#Help {
    width: 40px;
    height: 40px;
  
    --background: var(--ion-color-background2);
    --background-hover: var(--ion-color-background2-contrast);
    --background-activated: var(--ion-color-background2);
    --background-focused: var(--ion-color-background2);
  
    --color: var(--ion-color-castanhochocolate);
  
    --border-radius: 50%;
    --border-color: var(--ion-color-castanhochocolate);
    --border-style: solid;
    --border-width: 3px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: var(--ion-color-background2-contrast);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  #help_icon{
    transform: scale(5);
    font-weight: bold;
  }