/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura total da página */
  }

  #Ferrero {
    transform: scale(0.5);
    position: absolute;
    top: 70px;
    left: 25px;
  }
  
  #Ambrósio {
    transform: scale(0.35);
    position: absolute;
    top: 155px;
    left: 5px;
  }

  #help_icon{
    transform: scale(1.75);
    font-weight: bold;
  }

  #logout{
    transform: scale(5);
    font-weight: bold;
  }

  #Logout {
    width: 40px;
    height: 40px;
  
    --background: var(--ion-color-background2);
    --background-hover: var(--ion-color-background2-contrast);
    --background-activated: var(--ion-color-background2);
    --background-focused: var(--ion-color-background2);
  
    --color: var(--ion-color-castanhochocolate);
  
    --border-radius: 50%;
    --border-color: var(--ion-color-castanhochocolate);
    --border-style: solid;
    --border-width: 3px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: var(--ion-color-background2-contrast);
  } 

  #Help {
    width: 50px;
    height: 50px;
  
    --background: var(--ion-color-background2);
    --background-hover: var(--ion-color-background2-contrast);
    --background-activated: var(--ion-color-background2);
    --background-focused: var(--ion-color-background2);
  
    --color: var(--ion-color-castanhochocolate);
  
    --border-radius: 50%;
    --border-color: var(--ion-color-castanhochocolate);
    --border-style: solid;
    --border-width: 3px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: var(--ion-color-background2-contrast);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  .logout-container{
    margin-left: 78%;
  }

  .container_scroll{
    flex-wrap: nowrap;
    overflow-x: scroll!important;
    overflow-y: hidden;
    width: 100%;
  }

  .margem{
    margin: 16px;
  }

  .md .centered-p {
    text-align: center;
    margin-left: -9%
  }

  @font-face {   
    font-family: 'Varela';  //This is what we are going to call  
    src: url('./assets/font/Varela-Regular.ttf');
  }