
<ion-content [fullscreen]="true">
  <ion-title color="castanhochocolate" id="Titulo">
    Ferrero
    <ion-grid>
      <ion-row>
        <ion-col class="square"></ion-col>
        <ion-col class="square"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="square"></ion-col>
        <ion-col class="square"></ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-title>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
