<ion-header>
  <ion-toolbar  color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar a sua Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">

  <img src="assets/Ferrero Logo.png" alt="Ferrero" id="Ferrero">
  <img src="assets/Ambrósio (Re)Aproveita.png" alt="Ambrósio" id="Ambrósio">
  
  <div class="center-form">
    <form>
      <ion-item lines="full" color="primary">
        <ion-label position="floating">Email ou Username</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" color="secondary">Submeter</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <a class="cor">Introduza o email ou username da conta que pretende alterar a password.</a>
  </div>
  
</ion-content>