.cor{
    text-align: center;
    color: #694d2b;
  }

  #Ambrósio {
    transform: scale(0.35);
    position: absolute;
    top: 165px;
    left: 0px;
  }

  #Ferrero {
    transform: scale(0.5);
    position: absolute;
    top: 40px;
    left: 0px;
  }

  ion-content{ 
    font-family:Varela !important;
    font-size:1.1em;
  }
  